*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(0, 0, 0);
}

img{
    margin-left:-7px;
    margin-top:50%;
    width:105%;
}


#title , #title2{
    color: white;
    position: absolute;
}

#title2{
    margin-left:52%;
    margin-top:17px;
}


#title{

    margin-left:24%;
}



i{
    position: absolute;
    color: white;
    background: transparent;
}

#sear{
    margin-top:5%;
    margin-left:87%;
    font-size: 21px;
}


#like{
    font-size:28px;
    margin-top:81%;
    margin-left:84%;
}

#com{
    font-size:28px;
    margin-top:104%;
    margin-left:84%;
}


#glavni{
    width: 40px;
    height: 40px;
    position: absolute;
    border: solid 2px white;
    border-radius: 50%;
    margin-top:57%;
    margin-left:82%;
}


#share{
    font-size:28px;
    margin-top:127%;
    margin-left:84%;
}



#glavni2{
    width: 13%;
    height: 30px;
    position: absolute;
    border: solid 2px white;
    border-radius: 5px;
    margin-top:156%;
    margin-left:42%;
    color: white;

}


.plus{
    font-size:25px;
    margin-top:0%;
    margin-left: 28%;
    position: absolute;
    background: transparent;
}




#iconplus{
    position: absolute;
    margin-top:-20%;
    margin-left:1px;
    background: transparent;
}


#home{
    font-size: 22px;
    margin-top:156%;
    margin-left:2%;
}



#user{
    font-size: 22px;
    margin-top:156%;
    margin-left:86%;
}


#discover{
    font-size: 22px;
    margin-top:156%;
    margin-left:23%;
}


#inbox{
    font-size: 22px;
    margin-top:156%;
    margin-left:67%;
}



 #text1{
    position: absolute;
    color: white;
    font-size: 10px;
    margin-top:5px;
}



#text2{
    position: absolute;
    color: white;
    font-size: 10px;
    margin-top:5px;
}




#text3{
    position: absolute;
    color: white;
    font-size: 10px;
    margin-top:5px;
    margin-left: -30%;
}




#text4{
    position: absolute;
    color: white;
    font-size: 10px;
    margin-top:5px;
}



#text5{
    position: absolute;
    color: white;
    font-size: 10px;
    margin-top:4px;
    margin-left:-20%;
}






#like2{
    color: red;
    font-size:28px;
    margin-top:0px;
    margin-left:-100%; 
}


#fol{
    margin-left:10px;
    margin-top:30px;
    color: red;
}


#comt, #liket{
    font-size:10px;
}

#comt{
    margin-left:-10px;
}


#liket{
    margin-left: 3px;
}

#liket2{
    margin-left:10px;
    font-size: 10px;
    color: white;
}


#backfol{
    position: absolute;
    height:12px;
    width: 12px;
    color: rgb(255, 255, 255);
    margin-top: 33px;
    margin-left:13px;
    border: solid 1px white;
    border-radius:50%;
    background: rgb(255, 255, 255);
    
}

#done{
    margin-left:-16px;
}

#backfol2{
    position: absolute;
    height:15px;
    width: 15px;
    color: rgb(255, 0, 0);
    margin-top:-3px;
    margin-left: -4px;
    border: solid 1px rgb(255, 0, 0);
    border-radius:50%;
    background: rgb(247, 0, 0);
}


#name{
    position: absolute;
    color: white;
    font-size: 12px;
    background: transparent;
    margin-top:380px;
}



#desc{
    position: absolute;
    color: white;
    font-size: 11px;
    background: transparent;
    margin-top:405px;
}




#music{
    font-size: 12px;
    margin-top:435px;
}


#desc2{
font-size:10px;
margin-top:-10px;
margin-left:20px;
}






#as{
    position: absolute;
    margin-left:-8px;
    background: white;
    margin-top:500px;
    transition: 1s;
    
}

