*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
}



#user{
    position: absolute;
    font-size: 17px;
    margin-top:6%;
    margin-left: 3%;
}

#name{
    position: absolute;
    font-size: 13px;
    margin-top:6%;
    margin-left: 28%;
}


#cal{
    position: absolute;
    font-size: 18px;
    margin-left:30%;
}


#item{
    position: absolute;
    font-size: 18px;
    margin-left:52%;
}


#img{
    position: absolute;
    height:55px;
    width:55px;
    border: solid 2px black;
    background-color: black;
    border-radius: 50%;
    margin-top:60px;
    margin-left:38%;
}


#name2{
    position: absolute;
    margin-top:125px;
    margin-left:31%;
}


.information{
    font-size:20px;
    position: absolute;
    display: flex;
    margin-top:140px;
    background: transparent;
    margin-left:22%;
}


.information>:nth-child(2){
    margin-left:60px;
}

.information>:nth-child(3){
    margin-left:60px;
}

.info{
    color:rgb(97, 96, 96);
    font-size:12px;
    margin-left:100px;
    position: absolute;
    margin-top:190px;
    background: transparent;
}

.info:nth-child(1){
    color: red;
}